@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#30A9D9,  #05DBF2 );
}
main{
    background-color: #ffff;
    border-radius: 20px; /*Arredonda as bordas da minha caixa*/
    box-shadow: 5px 5px 15px #237494b4; /*Parametros: sombra andar pro lado, para baixo, espalhar e cor */
    width: 600px; /*largura*/
    padding: 10px;
    margin: auto; /*Aqui é para deixar sempre no meio da tela*/
}
p{
    text-align: justify;
}
h1{
    color: #0F398C;
    text-align: center; /*coloca o texto no centro*/
    text-shadow: 1px 1px 2px  #154ec0c2;

}

h2{
    color:#65088C ;
}